<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

# Exercise 4 - Create a markdown cell to list data science languages
1. R
2. Python
3. Julia
4. Javascript
5. SQ

# Exercise 4 - Create a markdown cell to list data science languages
1. Pandas
2. TesorFlow
3. Plotly
4. Scikit-learn

# Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools |
| Apache Spark |
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# *This a simple arithmetic expression to mutiply then add integers*
(3*4)+5

17

In [9]:
def minutes_to_hours(minutes):
  """This will convert 200 minutes to hours by diving by 60
  """

  return minutes / 60

minutes = 200
hours = minutes_to_hours(minutes)
print(hours, 'Hours')

3.3333333333333335 Hours

# Exercise 10 - Insert a markdown cell to list Objective
Objectives:
- Java
- Python
- Julia
- R

# Exercise 11 - Create a markdown cell to indicate the Author's name
## Author
Patrick Viz